
.button{
    font-size:1rem;
    color:white;
    display:inline-block;
    margin-top:1em;
    margin-right:1em;
    text-decoration: none;
    padding:.25em;
    outline: none;
    border:none;
    transition:all 1s;
    cursor:pointer;
    text-transform: capitalize;
}
.gelatine {
    animation: gelatine 0.5s;
  }
  @keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

.btnIcon{
    margin:0 .35em;
}