.typeContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:70%;
    height:70px;
    padding:0 1em;
    margin:auto;
    background:#00aeff;
    transition:all 1s;
}
.typeContainer:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:all 1s;
}
.typeContainer h2{
    margin-right:.5em;
}
.magOn{
    pointer-events: none;
    opacity:0.5;
}
.newType{
    width:100%;
}
.newType div{
    display:flex;
    justify-content: center;
    width:fit-content;
    margin:auto;
    cursor:pointer;
}
.addType{
    font-size:2rem;
    color:#e2f3f5;
}
.newType p{
    font-size:1.35rem;
    margin-left:.5em;
    color:#e2f3f5;
}
.addNewType{
    width:20%;
    margin:0 auto 1em;
    position:relative;
}
.addNewType input{
    padding:.5em;
    width:100%;
    border:none;
    border-radius: 15px;
    height:30px;
    outline:none;
}
.addTypeBtn{
    position:absolute;
    background:red;
    font-size:2rem;
    border-radius:50px;
    right:5%;
    top:23%;
}
.advice{
    margin-bottom:.5em;
    opacity:0;
    height:20px;
}
.activeAdd{opacity:1;}