.type{
    position:relative;
    padding:0;
    margin-right:1em;
    font-weight: 400;
    transition: all 1s;
    font-size:1.25rem;
    color:white;
    height:fit-content;
    text-transform: capitalize;
    cursor:pointer;
}
.type:hover{
    border-bottom:1px solid white;
}
.active{
    padding:.25em;
    background:white;
    border-radius:25px;
    color:#00aeff;
    font-weight: 600;
    transition: all 1s;
}
.delete{
    position:absolute;
    font-size:1rem;
    color:white;
    top:-5%;
    opacity:0;
}
.type:hover .delete{
    opacity:1;
}